Flask==0.10.1
Flask-Login==0.2.9
Flask-Mail==0.9.0
Flask-Migrate==1.1.1
-e git+https://github.com/DennisGlindhart/flask-openid.git#egg=Flask-OpenID
Flask-SQLAlchemy==1.0
Flask-Script==0.6.6
Flask-WTF==0.9.4
-e git+https://github.com/wangwangwar/Flask-WhooshAlchemy.git#egg=Flask-WhooseAlchemy
Jinja2==2.7.2
Mako==0.9.1
MarkupSafe==0.18
SQLAlchemy==0.9.1
WTForms==1.0.5
Werkzeug==0.9.4
Whoosh==2.5.6
alembic==0.6.2
blinker==1.3
itsdangerous==0.23
python3-openid==3.0.3
