<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/css/app.css" rel="stylesheet" media="screen">
        <script src="/static/js/modernizr.js"></script>

        {% if title %}
        <title>{{title}} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/index">Home</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                {% if g.user.is_authenticated() %}
                <ul class="right">
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                {% endif %}

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a></li>
                    <li class="has-form">
                        {% if g.user.is_authenticated() %}
                        <form class="inline" action="{{url_for('search')}}" method="post" name="search">
                            <div class="row collapse">
                                {{ g.search_form.hidden_tag() }}
                                <div class="medium-8 small-9 columns">
                                    {{ g.search_form.search(size=20) }}
                                </div>
                                <div class="medium-4 small-3 columns">
                                    <input type="submit" class="alert button expand" value="Search">
                                </div>
                            </div>
                        </form>
                        {% endif %}
                    </li>
                </ul>
            </section>
        </nav>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div data-alert class="alert-box">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            <a href="#" class="close">&times;</a>
        </div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/foundation.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
